*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#2a2a88,#87e8e1);
}

h1{
    font-family:Frijole ,cursive;
    letter-spacing: 5px;
    font-size: 6vh;
    color: black;
    text-shadow: 3px 3px 10px palevioletred;
    animation: bounce 2s ease infinite;
}

/* bounce keyframes */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.todo-container{
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  color: black;
  padding: 30px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 40%;
}

.input-section{
    display: flex;
    justify-content: center;
    margin: 5vh;
}

#taskInput{
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1vh;
    border-radius: 1vh;
    font-size: 2.5vh;
    transition: 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#taskInput:hover{
    border: 1.5px solid rgba(0, 0, 0, 0.7);
}

#addbtn{
    padding: 1vh;
    background-color: #95b6e0;
    border: 1px solid #5f96dd;
    margin-left: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#addbtn:hover{
    background-color:#1469d8 ;
    font-weight: 500;
}

ul{
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

li{
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
    
}

li.completed{
    text-decoration: line-through;
    opacity: 0.7;
}

button.delete{
    background-color: rgb(209, 109, 129);
    border: none;
    padding: 10px 5px;
    color: white;
    box-shadow: 3px 3px 5px, rgba(255, 255, 255, 0.4);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

button.delete:hover{
background-color: crimson;
}
